<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">
    <title>Форма заказа</title>
</head>
<body>
<div class="p-3 mb-2 bg-light text-dark">
    <div class="container">
        <br>
        <form action="#" th:action="@{/orders/save}"
              th:object="${order}" method="post">
            <div class="row justify-content-start">
                <h4>Информация о заказчике</h4>
                <h4></h4>
                <h4></h4>
                <h4></h4>
                <div class="col">
                    <p class="mb-2">ФИО</p>
                    <input type="text" th:required="required" th:field="*{owner}"
                           class="form-control mb-4 col-4" placeholder="Введите ФИО">

                    <p class="mb-2">Телефон</p>
                    <input type="tel" th:required="required" th:field="*{phoneNumber}"
                           class="form-control mb-4 col-4" placeholder="Введите телефон">
                </div>

                <div class="col">
                    <p class="mb-2">Номер заказа</p>
                    <input type="text" th:field="*{id}"
                           class="form-control mb-4 col-4" placeholder="Номер заказа (заполнится автоматически)"
                           id="disabledInput" disabled>

                    <p class="mb-2">Дата заказа</p>
                    <input type="date" th:required="required" th:field="*{orderDate}"
                           class="form-control mb-4 col-4" placeholder="Введите дату заказа">
                </div>
            </div>
            <hr>
            <div class="row justify-content-start">
                <h4>Информация о транспортном средстве</h4>
                <h4></h4>
                <h4></h4>
                <h4></h4>
                <div class="col">
                    <input type="hidden" th:field="*{id}"/>

                    <p class="mb-2">Транспортное средство</p>
                    <input type="text" th:required="required" th:field="*{carModel}"
                           class="form-control mb-4 col-4" placeholder="Транспортное средство">
                    <p class="mb-2">Цвет авто</p>
                    <input type="text" th:field="*{carColor}"
                           class="form-control mb-4 col-4" placeholder="Цвет авто">
                    <p class="mb-2">Материал и цвет салона</p>
                    <input type="text" th:field="*{carInterior}"
                           class="form-control mb-4 col-4" placeholder="Материал и цвет салона">
                    <p class="mb-2">Предыдущие заказы</p>
                    <input type="text" th:field="*{previousOrder}"
                           class="form-control mb-4 col-4" placeholder="Предыдущий заказ №">
                </div>

                <div class="col">
                    <p class="mb-2">Услуги</p>
                    <input type="text" th:required="required" th:field="*{carService}"
                           class="form-control mb-4 col-4" placeholder="Услуги">
                    <p class="mb-2">Цена</p>
                    <input type="text" th:required="required" th:field="*{price}"
                           class="form-control mb-4 col-4" placeholder="Цена">
                    <p class="mb-2">Бонусы</p>
                    <input type="text" th:field="*{bonus}"
                           class="form-control mb-4 col-4" placeholder="Скидка или подарок">
                </div>
            </div>
            <hr>
            <a th:href="@{/orders/list}" class="btn btn-outline-primary">Назад в список заказов</a>
            <button type="submit" class="btn btn-outline-success">Сохранить</button>
        </form>

    </div>
</div>
</body>
</html>